<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <th:block layout:include="fragments/include"/>
    </head>
    <div sec:authorize="isAnonymous()">
        isAnonymous
    </div>
    <div sec:authorize="isAuthenticated()">
        isAuthenticated
    </div>
    <div th:text="${#authentication.name}"/>
    <div th:text="${#authentication.authorities}"/>
    <div th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
        ROLE_USER
    </div>
    <div>
        header
    </div>
</html>
